<div class="row">
  <div class="col s6">
    {{my-ivy-codemirror
      options=(hash
        lineNumbers=lineNumbers
        lineWrapping=lineWrapping
        mode=mode
        keyMap=keyMap
        readOnly=readOnly
        smartIndent=smartIndent
        styleActiveLine=styleActiveLine
        theme=theme
      )
      errorLines=errorLines
      highlightLine=highlightLine
      hoveringOnError=hoveringOnError
      value=source
      valueUpdated=(action (mut source))
      highlightError=(action 'highlightError')
    }}

    {{md-btn-submit
      action="sendRequest"
      icon='mdi-content-send'
      iconPosition='right'
      text='Submit'}}
  </div>

  <div class="col s6">
    {{#if showNoCompilerErrorsMessage}}
      <h4 class="no-compiler-errors">COMPILES!</h4>
    {{/if}}

    {{#if showMessage}}
      <h4 class="compiler-errors">{{result}}</h4>
      {{#if firstError}}
        {{#md-card-collapsible}}
          {{#my-md-collapsible class="hoverable"
              mouseOverAction=(action 'highlightCodeLine')
              mouseLeaveAction=(action 'removeHighlightCodeLine')
              title=firstError.title
              errorLineNumber=firstError.line
              forceHover=firstError.forceHover}}

              {{component (concat "error-bodies/" firstError.component) source=source error=firstError}}
          {{/my-md-collapsible}}
        {{/md-card-collapsible}}
      {{/if}}
      {{#if (gt errors.length 1)}}
        <div class="divider"></div>
        {{#md-card-collapsible}}
          {{#each errors as |error index|}}
            {{#if (not-eq index 0)}}
              {{#my-md-collapsible class="hoverable"
                  mouseOverAction=(action 'highlightCodeLine')
                  mouseLeaveAction=(action 'removeHighlightCodeLine')
                  title=error.title
                  errorLineNumber=error.line
                  forceHover=error.forceHover}}

                  {{component (concat "error-bodies/" error.component) source=source error=error}}
              {{/my-md-collapsible}}
            {{/if}}
          {{/each}}
        {{/md-card-collapsible}}
      {{/if}}
    {{/if}}
  </div>
</div>
