{{#if isAllCode}}
  <div>{{firstMessageAll}}</div>
  <p class="reduce-padding">
  {{my-ivy-codemirror
    value=allCode
    codeSnippet=true
    options=(hash lineWrapping=true
                  readOnly=true)}}
  </p>
  <div>{{{secondMessageFunction}}}</div>
  <div>{{{tipAll}}}</div>
{{else if isFunctionCode}}
  <div>{{firstMessageFunction}}</div>
  <p class="reduce-padding">
  {{my-ivy-codemirror
    value=functionTypeCode
    codeSnippet=true
    options=(hash lineWrapping=true
                  readOnly=true)}}
  </p>
  <div>{{{secondMessageFunction}}}</div>
{{else}}
  <div>{{firstMessageParam}}</div>
  <p class="reduce-padding">
  {{my-ivy-codemirror
    value=paramTypeCode
    codeSnippet=true
    options=(hash lineWrapping=true
                  readOnly=true)}}
  </p>
  <div>{{{secondMessageParam}}}</div>
{{/if}}
